@media(max-width: 800px){
    .container{
    }
    #bmw{
        display: none;
    }
    #actions{
        display: none;
    }
    #video {
        background-color: lightpink;
        width: 640px;
        height: 480px;
        border-bottom: solid;
    }


    footer{
        display: none;
    }

    .section-title{
        display: none;
    }

    #lcurrent{
        display: none;
    }
    #rcurrent{
        display: none;
    }

    #fcurrent{
        display: none;
    }
    .jauge{
        width: 90px;
        height: 60px;
        position: absolute;
    }
    #distPos{
        display: none;
    }

    .input{
        display : none;
    }
    #video{
        width: 800px;
        height: 480px;
    }

    #battery{
        right:20px;
    }

    #speedD{
        right:20px;
        bottom: 20px;
    }

    #speedG{
        left:20px;
        bottom: 20px;
    }

    .alert{
        background-color: red;
    }

    #alert-AVG{
        width: 5px;
        height: 70px;
        position: absolute;
        top : 70px;
        left:10px;
    }
    #alert-AVC{
        width: 70px;
        height: 5px;
        position: absolute;
        top : 10px;
        left:45%;
    }
    #alert-AVD{
        width: 5px;
        height: 70px;
        position: absolute;
        top : 70px;
        right:10px;
    }
    #alert-ARG{
        width: 5px;
        height: 70px;
        position: absolute;
        bottom : 70px;
        left:10px;
    }
    #alert-ARC{
        width: 70px;
        height: 5px;
        position: absolute;
        bottom : 10px;
        left:45%;
    }
    #alert-ARD{
        width: 5px;
        height: 70px;
        position: absolute;
        bottom : 70px;
        right:10px;
    }


}


@media(min-width: 801px) {

    .alert{
        display: none;
    }

    #nav{
        display:none;
    }
    .container {
        display: flex;
        padding: 75px;
    }

    #video {
        background-color: lightpink;
        width: 640px;
        height: 480px;
        border-bottom: solid;
    }

    #ultrason {
        border-right: solid;
    }

    #bmw {
        margin-left: 38%;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    #actions {
        width: 640px;
        height: 200px;
        display: flex;
    }

    .input {
        position: absolute;
        display: inline-block;
        font-size: 150%;
    }

    #AVC {
        left: 620px;
    }

    #AVD {
        left: 780px;
        top: 200px;
    }

    #AVG {
        left: 430px;
        top: 200px;
    }

    #ARC {
        top: 705px;
        left: 620px;
    }

    #ARD {
        left: 780px;
        top: 600px;
    }

    #ARG {
        left: 430px;
        top: 600px;
    }

    #jauges {
        left: 115px;
        border-bottom: groove;
        border-left: groove;
    }

    #other-infos {
        left: 860px;
        border-top: groove;
        border-right: groove;
    }

    .info-section {
        margin-top: 10px;
        width: 300px;
        position: absolute;
        display: flex;
        flex-direction: column;

    }

    .section-title {
        text-decoration: underline;
        margin: auto;
        color: lightgray;
    }

    #left {
        padding-top: 10px;
    }

    #distPos {
        margin: auto;
    }

    span {
        font-style: italic;
        font-weight: bold;
        background-color: lightgray;
        right: 2px;
    }

    h4 {
        padding: 2px;
        font-size: 150%;
    }

    label {
        font-weight: bold;
        font-size: 120%;
    }

    #forms {
        margin: auto;
    }

    #enable-motors {
        background-color: red;
        border-radius: 75px;
        margin: 30px;
        width: 150px;
    }

    footer {

    }

    #logo-insa {
        margin-left: 50px;
        width: 200px;
        display: inline-block;
        vertical-align: text-top;
    }

    #credit {
        vertical-align: text-top;
        margin-left: 1500px;
        display: inline-block;
    }

    .not-implemented {
        display: none;
    }
}
